<% content_for(:title, "Foods | Food") %>

<h1><%= @food.name %></h1>
<img src="<%= @food.image %>" />
<h3>Description: <%= @food.description %></h3>

<br>

<h3>Area: <%=@food.area%> </h3>

<% if @food.tasks.any? %>
  <h4>Comments: </h4>
  <h1>
    <% @food.reviews.each do |review| %>
      <p>
        <%= review.comment %> |
        <%= link_to "Edit", edit_food_review_path(@food, review) %> |
        <%= link_to "Delete", food_review_path(@food, review),
                                  :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
        </p>
    <% end %>
  </h1>
<% else %>
  <p>There are no comments yet!</p>
<% end %>

<p><%= link_to "ADD A COMMENT", new_food_review_path(@list) %></p>
<p><%= link_to "Edit", edit_food_url %></p>
<p><%= link_to "Delete Product", food_path(@list),
                          :data => {:confirm => "You sure?",
                                    :method => "delete"} %></p>

<p><%= link_to "Return to ADMIN LIST VIEWER", foods_path %></p>
